#wrapper {
    margin: 1em auto;
    padding-left: 45px;
    padding-right: 45px;
    width: 1200px;
    height: 700px;
    grid-template-columns: repeat(12,1fr);
    background-color: #e0cf9f;
    border: 5px solid #003d0f;
    padding: 5px;
    margin-top: 50px;
  }


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav a {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #003300;
    width: 300px;
    color: white;
    transition: background-color 1.0s, width 2.0s, color 2.0s;
    height: 30px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    border: #ffea00;
  }
  
  nav a:hover {
    background-color: #00ff00;
    width: 500px;
    color: black;
  }    

  #animatediv {
    color: white;
    font-size: 60px;
    width: auto;
    height: 100px;
    background-color: #300;
    animation: back-ani 6s linear infinite;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
  
  @keyframes back-ani {
    0%   {background-color:#ff0202;}
    25% {background-color: #ffea00;}
    50%  {background-color:#00ff1e;}
    75% {background-color: #00ffff;}
    100% {background-color:#ff0000;}
  }


  
  @keyframes frog1-ani {
    0%   { opacity: .0; left:0; }
    50%  { opacity: 1; }
    100% { opacity: .0; left: 1000px; }
  }

  @keyframes frog2-ani {
    0%   { opacity: .0; left:0; }
    50%  { opacity: 1; }
    100% { opacity: .0; left: 1000px; }

  }

  @keyframes frog3-ani {
    0%   { opacity: .0; left:0; }
    50%  { opacity: 1; }
    100% { opacity: .0; left: 1000px; }
  }

  body {
    background-image:url("forest.png") ;
    background-size: cover;
  }

  #frog1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    animation: frog1-ani 5s linear infinite;;
  }

  #frog2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
    border-radius:250px;
    animation: frog2-ani 10s linear infinite;;
    float: none;
    margin-bottom: 300px;
  }

  #frog3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    border-radius:300px;
    animation: frog3-ani 15s linear infinite;
    float: none;
  }


  #forest:hover img{
    filter: invert(75%);

  }

  #forest img{
    transition: .1s all;
    width: 500px;
    height: 400px;
    margin-bottom: 100px;
    float: right;
    margin-right: 20px;
    margin-bottom: 100px;
  
  }