.st16:hover {
fill: yellow;
stroke: yellow;
}

.st17:hover {
    fill:yellow;
    stroke: yellow;
}

.st18:hover{
    fill: yellow;
    stroke: yellow;
}
.st19:hover{
    fill: yellow;
    stroke: yellow;
}

.st15:hover{
    fill: yellow;
}

#wrapper{
background-color: rgb(1, 1, 52);
border: 1px solid;
height: 1000px;
}

h1 {
    color: aliceblue;
    text-align: center;
top: 0px;

}

h3 {
    color: aliceblue;
    text-align: center;
    float: center;
}
