

body {
  margin-right: 1rem;
}

@media (min-width: 992px) {
  .navbar .container-fluid, .navbar-expand-lg, .navbar-collapse, .navbar-expand-lg, .navbar-nav {
    flex-direction: column;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    float: left;
  }
  
  form input {
    margin-bottom: 0.7em;
  }
  
}

.navbar a {
margin-bottom: 20px;
margin-top: 25px;
text-align: center;

}

* {box-sizing:border-box}

/* Slideshow container */
#slideshow-container {
  position: absolute;
  left: 25%;
  float: right;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */


/* Fading animation */
.fade1 {
  animation-name: fade;
  animation-duration: 5.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h1 {
  text-align: center;
  margin-top: 1em;
}

p {
  font-size: larger;
  padding: 5em;
  position: relative;
}

nav a{
  text-decoration: none;
  color: black;
}
